<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-pink1">
                <p class="font-weight-bold mb-1">Profesional</p>
                <div>
                    <img [src]="imageProfesional" alt="Product 1" class="img-circle img-size-32 mr-2 mb-1">
                    {{ profesional?.nickname }}
                </div>
            </div>
            <app-incapacidades-form></app-incapacidades-form>
        </div>
    </div>
</div>