.my-custom-calendar ::ng-deep {
    /* Estilos para los botones del calendario */
    .fc-button {
      background-color: #ff2970;
      color: white;
      border: none;
    }

    /* Estilos para el titulo */
    .fc-toolbar-title::first-letter{
        text-transform: capitalize;
    }

    /* Estilos para las celdas de encabezado */
    .fc-col-header-cell-cushion, .fc-daygrid-day-number {
      color: #2e2e2e;
      text-transform: capitalize;
    }
    
  }