<div class="content">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header text-secondary border-0">
            <h3 class="card-title text-center">Calendario</h3>
            <div class="card-tools">
              <a href="#" class="btn btn-tool btn-sm">
                <i class="fas fa-download"></i>
              </a>
            </div>
          </div>
          <div class="card-body">
            <full-calendar [options]="calendarOptions"></full-calendar>
          </div>
      </div>
  </div>
</div>

<div class="modal" id="dateModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div #eventosColapsados class="modal-content">
      <app-date-modal [selectedDate]="selectedDate" [relatedEvents]="relatedEvents"></app-date-modal>
    </div>
  </div>
</div>

<div class="modal" id="eventModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div #eventosColapsados class="modal-content">
      <app-event-modal [event]="selectedEvent"></app-event-modal>
    </div>
  </div>
</div>