<div class="content">
    <div class="container-fluid">
        
        <div class="card">
            <div class="card-header text-secondary border-0">
              <h3 class="card-title text-center">Todos los insumos médicos</h3>
              <div class="card-tools">
                <a href="#" class="btn btn-tool btn-sm">
                  <i class="fas fa-download"></i>
                </a>
              </div>
            </div>
            <div class="card-header border-0">
                <div class="row">
                    <div class="col-xl-9 col-lg-8 col-md-8 col-sm-8">
                        <div class="input-group my-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text"><i class="fas fa-search"></i></div>
                            </div>
                            <input [(ngModel)]="search" class="form-control form-control-sm" placeholder="Ingrese el nombre del insumo" (keyup)="buscarInsumo()">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4">
                        <a class="btn btn-sm btn-pink btn-block  my-2" routerLink=""><i class="fas fa-plus"></i> Agregar insumo</a>
                    </div>
                </div>   
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-striped table-valign-middle">
                <thead>
                <tr>
                    <th></th>
                    <th>Insumos</th>
                    <th class="text-center">Stock en cajas</th>
                    <th class="text-center">Stock en piezas</th>
                    <th></th>
                    <th></th>
                    <!-- <th></th> -->
                </tr>
                </thead>
                <tbody *ngIf="insumos.length > 0; else noInsumos">
                    <tr *ngFor="let insumo of insumos | paginate: {itemsPerPage: elementosPorPagina, currentPage: paginaActual}">
                        <td>
                            <i class="fas fa-circle" [ngClass]="{
                                'text-success': insumo.lotes.length > 10,
                                'text-warning': insumo.lotes.length <= 10 && insumo.lotes.length > 5,
                                'text-danger': insumo.lotes.length <= 5,
                                'text-black': insumo.lotes.length === 0
                            }"></i>
                        </td>
                        <td>
                            {{ insumo.nombre }}
                        </td>
                        <td class="text-center">
                            {{ insumo?.lotes?.length || 0 }}
                        </td>
                        <td class="text-center">
                            {{ obtenerSumatoriaPiezasDisponibles(insumo.lotes) }}
                        </td>
                        <td width="10px">
                            <button href="#" class="btn btn-sm btn-secondary" (click)="showInsumoMedico(insumo.id)">
                                <i class="fas fa-list"></i>
                            </button>
                        </td>
                        <td width="10px">
                            <button href="#" class="btn btn-sm btn-primary">
                                <i class="fas fa-edit"></i>
                            </button>
                        </td>
                        <!-- <td width="10px">
                            <button href="#" class="btn btn-sm btn-danger" (click)="destroyInsumo(insumo.id)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td> -->
                    </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center">
                    <pagination-controls (pageChange)="paginaActual = $event"></pagination-controls>
                </div>
            </div>
            <ng-template #noInsumos>
                <tr>
                    <td colspan="5" class="text-center">Sin insumos médicos</td>
                </tr>
            </ng-template>
        </div>
    </div>
</div>