<!-- <div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-pink1">
                <p class="font-weight-bold mb-1">Profesional</p>
                <div>
                    <img [src]="imageProfesional" alt="Product 1" class="img-circle img-size-32 mr-2 mb-1">
                    {{ profesional?.nickname }}
                </div>
            </div>
            <form [formGroup]="formIncapacidad" (ngSubmit)="guardar()">
                <div class="card-body">
                    <div *ngIf="historialMedico?.pacientable">
                        <div class="border rounded px-2">
                            <div class="row">
                                <div class="col-12 col-md-5">
                                    <div class="form-group">
                                        <label class="col-form-label">
                                            Fecha inicial
                                            <span class="text-danger">*</span>
                                        </label>
                                        <input type="date" id="fechaInicial" class="form-control text-center" formControlName="fechaInicial" (input)="obtenerDias()">
                                    </div>
                                </div>
                                <div class="col-12 col-md-2">
                                    <div class="form-group text-center">
                                        <label class="col-form-label">
                                            Días
                                        </label>
                                        <div>
                                            {{ dias }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-5">
                                    <div class="form-group">
                                        <label class="col-form-label">
                                            Fecha de termino
                                            <span class="text-danger">*</span>
                                        </label>
                                        <input type="date" id="fechaTermino" class="form-control text-center" formControlName="fechaTermino" (input)="obtenerDias()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-12 col-md-6">
                                <div class="d-flex flex-column align-items-center bg-pink2 h-100 shadow">
                                    <img [src]="imageEmpleado" alt="Admin" class="rounded-circle img-border img-circle mt-3"
                                      width="150">
                                    <div class="mt-3 text-center">
                                        <h4>
                                            {{ historialMedico?.pacientable?.nombre }}
                                        </h4>
                                        <p class="py-3">
                                            <a [routerLink]="['/enfermeria/historiales-medicos', historialMedico?.id]" target="_blank">Ver historial médico</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">
                                      Tipo de incapacitación
                                      <span class="text-danger">*</span>
                                    </label>
                                    <select class="form-control" formControlName="tipo">
                                      <option class="text-center" value="" selected> -- Seleccione una opción -- </option>
                                      <option>Maternidad</option>
                                      <option>Enfermedad general</option>
                                      <option>Licencia de 140 bis</option>
                                      <option>Riesgo de trabajo ST7</option>
                                      <option>Enfermedad profesional ST9</option>
                                    </select>
                                </div>
                                <div class="form-group" *ngIf="consecuentesOpciones.length">
                                    <label class="col-form-label">
                                      Consecuente
                                      <span class="text-danger">*</span>
                                    </label>
                                    <select class="form-control" formControlName="consecuente">
                                      <option class="text-center" value="" selected> -- Seleccione una opción -- </option>
                                      <option *ngFor="let opcion of consecuentesOpciones" [value]="opcion">{{ opcion }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="pt-3">
                            <div *ngIf="formIncapacidad.get('tipo')!.value === 'Riesgo de trabajo ST7' || formIncapacidad.get('tipo')!.value === 'Enfermedad profesional ST9'">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        Calificación del accidente
                                      <span class="text-danger">*</span>
                                    </label>
                                    <select class="form-control" formControlName="calificacionAccidente">
                                      <option class="text-center" value="" selected> -- Seleccione una opción -- </option>
                                      <option>Sí de trabajo</option>
                                      <option>No de trabajo</option>
                                      <option>Sí de trayecto</option>
                                      <option>No de trayecto</option>
                                      <option>Enfermedad Profesional</option>
                                      <option>Pendiente</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">
                                        Causa
                                      <span class="text-danger">*</span>
                                    </label>
                                    <select class="form-control" formControlName="causa">
                                      <option class="text-center" value="" selected> -- Seleccione una opción -- </option>
                                      <option>Acto inseguro</option>
                                      <option>Condición insegura</option>
                                      <option>Accidente vial</option>
                                      <option>Pendiente</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>
                                        Zonas afectadas
                                        <span class="text-danger">*</span>
                                    </label>
                                    <ngx-select
                                        [items]="zonasAfectadas"
                                        [multiple]="true"
                                        placeholder="Seleccione todos los medicamentos asociados al insumo"
                                        [formControlName]="'zonasAfectadas'"
                                    ></ngx-select>
                                  </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label class="col-form-label">
                                        Diagnóstico
                                    </label>
                                    <ckeditor [editor]="Editor" [config]="editorConfig" id="diagnostico" formControlName="diagnostico"></ckeditor>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">
                                        Observaciones
                                    </label>
                                    <ckeditor [editor]="Editor" [config]="editorConfig" id="observaciones" formControlName="observaciones"></ckeditor>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div *ngIf="mensajesDeError.length > 0" class="text-danger py-3">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-danger" *ngFor="let mensaje of mensajesDeError">{{ mensaje }}</li>
                        </ul>
                    </div>
                    <div class="text-center">
                        <button class="btn bg-pink">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->