<form [formGroup]="formCaso" (ngSubmit)="guardar()">
    <div class="form-group">
        <label class="col-form-label">
            Estatus
          <span class="text-danger">*</span>
        </label>
        <select class="form-control" formControlName="estatus">
            <option>PENDIENTE</option>
            <option>TERMINADO</option>
        </select>
    </div>
    <div class="form-group">
        <label class="col-form-label">
            Doctos
          <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" formControlName="doctos">
    </div>
    <div *ngIf="mensajesDeError.length > 0" class="text-danger py-3">
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger" *ngFor="let mensaje of mensajesDeError">{{ mensaje }}</li>
        </ul>
    </div>
    <div class="text-center">
        <button class="btn bg-pink">Guardar</button>
    </div>
</form>