<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header text-secondary border-0">
                <h3 class="card-title text-center">Ingresar lote médico</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="lotesMedicosForm" (submit)="guardar()">
                    <div class="row">
                        <div class="form-group col-12 col-md-4">
                            <label>Piezas disponibles</label>
                            <input type="number" class="form-control" id="piezasDisponibles" formControlName="piezasDisponibles">
                        </div>
                        <div class="form-group col-6 col-md-4">
                            <label>Lote</label>
                            <input type="text" class="form-control" id="lote" formControlName="lote">
                        </div>
                        <div class="form-group col-6 col-md-4 border-left">
                            <label>Fecha de caducidad</label>
                            <input type="date" class="form-control" id="fechaCaducidad" formControlName="fechaCaducidad">
                        </div>
                    </div>
                    <div *ngIf="mensajesDeError.length > 0" class="text-danger pt-3">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-danger" *ngFor="let mensaje of mensajesDeError">{{ mensaje }}</li>
                        </ul>
                    </div>
                    <div class="text-center pt-3">
                        <button class="btn bg-pink">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>