<div class="content">
    <div class="container-fluid">
        <div class="card-columns" *ngFor="let inventario of inventarios | paginate: {itemsPerPage: elementosPorPagina, currentPage: paginaActual}">
            <div class="card bg-info shadow-none" (click)="showInventario(inventario.id)">
                <div class="card-body row">
                    <div class="col-4">
                        <img class="img-fluid" src="assets/icons/insumosMedicos.svg">
                    </div>
                   <div class="col-8">
                        <h1><span class="text-pink">{{ inventario.insumos.length }}</span> Insumos</h1> 
                        <p>{{ inventario.nombre }}</p>
                   </div>
                </div>
                <div class="card-footer text-center border-0">
                    Ver almacen <i class="fas fa-arrow-circle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>