.img-border{
    background-color: white;
    box-shadow:
    0 0 0 5px white,
    0 0 0 8px black;
}

.btn-option {
    color: #1DEFFF;
}

.no-exist .btn-option {
    color: #cfdedf;
}

.chevron-icon::before {
    content: "\f054";
}

.no-exist .chevron-icon::before {
    content: "\f078";
}
.btn-none-efects {
    text-decoration: none !important;
    color: inherit !important;
}