<div class="content" *ngIf="terminado">
  <div class="container-fluid">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center">
              <img [src]="image" alt="Admin" class="rounded-circle img-border"
                width="150">
              <div class="mt-3 text-center">
                <h4>
                  {{historialMedico!.pacientable?.nombre }}
                </h4>
                <p class="text-secondary mb-1">
                  {{historialMedico!.pacientable?.puesto?.nombre }}
                </p>
              </div>
              <div>
                <div class="text-center pt-3">
                  <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#datosGenerales" aria-expanded="false" aria-controls="collapseDatosGenerales">
                    Datos generales
                  </button>
                </div>
                <div class="collapse" id="datosGenerales">
                  <div class="p-3 table-responsive">
                    <table class="table">
                      <tbody>
                        <tr *ngIf="edad">
                          <th scope="row">Edad</th>
                          <td class="text-center">{{edad}} años</td>
                        </tr>
                        <tr *ngIf="historialMedico!.pacientable?.sexo">
                          <th scope="row">Sexo</th>
                          <td class="text-center">{{historialMedico!.pacientable?.sexo}}</td>
                        </tr>
                        <tr *ngIf="historialMedico!.pacientable?.fechaNacimiento">
                          <th scope="row">Fecha de nacimiento</th>
                          <td class="text-center">
                            {{ historialMedico!.pacientable?.fechaNacimiento | date:'dd/MM/yyyy' }}
                          </td>
                        </tr>
                        <tr *ngIf="historialMedico!.pacientable?.estadoCivil">
                          <th scope="row">Estado civil</th>
                          <td class="text-center">{{historialMedico!.pacientable?.estadoCivil}}</td>
                        </tr>
                        <tr *ngIf="historialMedico!.pacientable?.telefono">
                          <th scope="row">Teléfono</th>
                          <td class="text-center">
                            {{ historialMedico!.pacientable?.telefono }}
                          </td>
                        </tr>
                        <tr *ngIf="historialMedico!.pacientable?.correo">
                          <th scope="row">Correo eléctronico</th>
                          <td class="text-center">
                            {{ historialMedico!.pacientable?.correo }}
                          </td>
                        </tr>
                        <!-- <tr *ngIf="historialMedico?.talla">
                          <th scope="row">Altura</th>
                          <td class="text-center">
                            {{ historialMedico?.talla }}
                          </td>
                        </tr>
                        <tr *ngIf="historialMedico?.peso">
                          <th scope="row">Peso</th>
                          <td class="text-center">
                            {{ historialMedico?.peso }}
                          </td>
                        </tr> -->
                        <!-- <tr>
                          <th scope="row"  width="10px">Dirección</th>
                          <td>{{historialMedico!.pacientable?.Calle}}, {{historialMedico!.pacientable?.Exterior}}, {{historialMedico!.pacientable?.Interior}}, {{historialMedico!.pacientable?.Colonia}}, {{historialMedico!.pacientable?.Localidad}}</td>
                        </tr> -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-dependientes *ngIf="historialMedico?.pacientable_type == 'App\\Models\\NomEmpleado'" [historialMedico]="historialMedico!"></app-dependientes>
        
        <div class="card">
          <div class="card-header text-secondary border-0">
            <h3 class="card-title text-center">Descargar historial médico</h3>
          </div>
          <div class="card-body">
            <div class="input-group input-group-sm my-2">
              <input type="date" class="form-control form-control-sm" [(ngModel)]="fecha">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button" (click)="buscarYAbrirPDF(historialMedico.id)" [disabled]="!fecha">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header text-secondary border-0">
            <h3 class="card-title text-center">Antecedentes</h3>
          </div>
          <div class="card-body">
            <div>
              <button class="btn btn-flat text-left btn-block border-0" type="button" data-toggle="collapse" data-target="#atecedentesPP" aria-expanded="false" aria-controls="collapseAtecedentesPP" [class.no-exist]="!historialMedico!.antecedentes_personales_patologicos">
                <h5 class="pt-2"><i class="fas  fa-circle btn-option"></i> Antecedentes personales patológicos</h5>
              </button>
              <div class="collapse" id="atecedentesPP">
                <app-antecedentes-personales-patologicos *ngIf="historialMedico !== null" [historialMedico]="historialMedico"></app-antecedentes-personales-patologicos>
              </div>
            </div>
            <!-- -->
            <div>
              <button class="btn btn-flat text-left btn-block border-0" type="button" data-toggle="collapse" data-target="#atecedentesPNP" aria-expanded="false" aria-controls="collapseAtecedentesPNP" [class.no-exist]="!historialMedico!.antecedentes_personales_no_patologicos">
                <h5 class="pt-2"><i class="fas  fa-circle btn-option"></i> Antecedentes personales no patológicos</h5>
              </button>
              <div class="collapse" id="atecedentesPNP">
                <app-antecedentes-personales-no-patologicos *ngIf="historialMedico !== null" [historialMedico]="historialMedico"></app-antecedentes-personales-no-patologicos>
              </div>
            </div>
            <!-- -->
            <div>
              <button class="btn btn-flat text-left btn-block border-0" type="button" data-toggle="collapse" data-target="#atecedentesH" aria-expanded="false" aria-controls="collapseAtecedentesH" [class.no-exist]="!historialMedico!.antecedentes_heredofamiliares">
                <h5 class="pt-2"><i class="fas  fa-circle btn-option"></i> Antecedentes heredofamiliares</h5>
              </button>
              <div class="collapse" id="atecedentesH">
                <app-antecedentes-heredofamiliares *ngIf="historialMedico !== null" [historialMedico]="historialMedico"></app-antecedentes-heredofamiliares>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header text-secondary border-0">
            <h3 class="card-title text-center">Exámenes médicos</h3>
            <button type="submit" class="btn btn-sm btn-secondary float-right" (click)="abrirFormularioArchivo()">
              <i class="fas fa-upload"></i>
              {{ mostrarFormularioArchivo ? 'Cancelar' : 'Subir archivos de otros exámenes médicos' }}
            </button>
          </div>
          <div class="card-body">
            <div *ngIf="mostrarFormularioArchivo">
              <div>
                <div class="bg-light rounded p-3">
                  <form [formGroup]="formArchivo" (submit)="storeArchivos()">

                    <div class="row">
                      <div class="py-2 col-12">
                        <div class="d-flex justify-content-between border-bottom py-2">
                          <div>
                            <b>Tipo de examen</b>
                          </div>
                          <div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" formControlName="tipo" name='tipo' id="tipo1" value="Externo">
                              <label class="form-check-label" for="tipo1">Externo</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" formControlName="tipo" name='tipo' id="tipo2" value="Interno">
                              <label class="form-check-label" for="tipo2">Interno</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="py-2 col-12 col-sm-12">
                        <div class="d-flex justify-content-between border-bottom py-2">
                          <div>
                            <b>Categoría</b>
                          </div>
                          <div class="ml-2">
                            
                            <div class="form-group">
                              <ng-container *ngIf="showInput; else showSelect">
                                <div class="input-group mb-3">
                                  <input type="text" class="form-control" formControlName="categoria" name="categoria" id="categoria">
                                  <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button" (click)="toggleCategoryInput()"><i class="fas fa-undo"></i></button>
                                  </div>
                                </div>
                              </ng-container>
                              <ng-template #showSelect>
                                <select class="form-control w-100" formControlName="categoria" name="categoria" id="categoria" (change)="checkForOther()">
                                  <option>Exámen físico</option>
                                  <option>Exámen de antidoping</option>
                                  <option>Exámen de embarazo</option>
                                  <option>Exámen de vista</option>
                                  <option>Otro</option>
                                </select>
                              </ng-template>
                            </div>
                                                    
                            
                          </div>
                        </div>
                      </div>
                      <div class="py-2 col-12">
                        <div class="d-flex justify-content-between py-2">
                          <div class="text-center mx-auto pt-1">
                            <input type="file" id="archivoInput" (change)="archivosSeleccionados($event)" formControlName="archivos" accept="image/png, image/jpeg, application/pdf" multiple style="display: none">

                            <label for="archivoInput" class="custom-file-upload">
                              <i class="fa fa-file"></i> Seleccione los archivos
                            </label>
                          </div>
                        </div>
                        <div class="border-bottom py-2">
                          <div class="table-responsive" *ngIf="archivos.length > 0">
                            <table class="table table-sm table-white rounded">
                              <thead class="thead-light">
                                <tr>
                                  <th scope="col" class="text-secondary">Archivos</th>
                                  <th scope="col" class="text-secondary">Tamaño</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              <tbody>
                                <ng-container *ngFor="let archivo of archivos; let i = index">
                                  <tr>
                                    <td class="align-middle">{{ archivo.nombre }}</td>
                                    <td class="align-middle">{{ archivo.tamano }}</td>
                                    <td width="10px">
                                      <button type="button" class="btn-close d-flex align-items-center mt-2" (click)="eliminarArchivo(i)">
                                      </button>
                                    </td>
                                  </tr>
                                </ng-container>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="py-2 col-12">
                        <div class="d-flex justify-content-between pt-2">
                          <div>
                            <b>Descripción</b>
                          </div>
                        </div>
                        <div>
                          <textarea class="form-control form-control-sm" formControlName="descripcion" id="descripcion" row="3"></textarea>
                        </div>
                      </div>
                      <div class="text-center pt-3">
                        <button type="submit" class="btn btn-sm btn-pink">
                          <i class="fas fa-save"></i> Guardar
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div *ngIf="!mostrarFormularioArchivo">
              <div>
                <div>
                  <button class="btn btn-flat text-left border-0" type="button" data-toggle="collapse" data-target="#examenF" aria-expanded="false" aria-controls="collapseExamenF" [class.no-exist]="!historialMedico!.examenes_fisicos?.length">
                    <h5 class="pt-2"><i class="fas  fa-circle btn-option"></i> Exámenes físicos</h5>
                  </button>
                </div>
  
                <div class="collapse" id="examenF">
                  <app-examenes-fisicos *ngIf="historialMedico !== null" [historialMedico]="historialMedico"></app-examenes-fisicos>  
                </div>
              </div>
              <div>
                <button class="btn btn-flat text-left border-0" type="button" data-toggle="collapse" data-target="#examenA" aria-expanded="false" aria-controls="collapseExamenA" [class.no-exist]="!historialMedico!.examenes_antidoping?.length">
                  <h5 class="pt-2"><i class="fas  fa-circle btn-option"></i> Exámenes de antidoping</h5>
                </button>
                <div class="collapse" id="examenA">
                  <app-examenes-antidoping *ngIf="historialMedico !== null" [historialMedico]="historialMedico"></app-examenes-antidoping>
                </div>
              </div>
              <div>
                <button class="btn btn-flat text-left border-0" type="button" data-toggle="collapse" data-target="#examenE" aria-expanded="false" aria-controls="collapseExamenE" [class.no-exist]="!historialMedico!.examenes_embarazo?.length">
                  <h5 class="pt-2"><i class="fas  fa-circle btn-option"></i> Exámenes de embarazo</h5>
                </button>
                <div class="collapse" id="examenE">
                  <app-examenes-embarazo *ngIf="historialMedico !== null" [historialMedico]="historialMedico"></app-examenes-embarazo>
                </div>
              </div>
              <div>
                <button class="btn btn-flat text-left border-0" type="button" data-toggle="collapse" data-target="#examenV" aria-expanded="false" aria-controls="collapseExamenV" [class.no-exist]="!historialMedico!.examenes_vista?.length">
                  <h5 class="pt-2"><i class="fas  fa-circle btn-option"></i> Exámenes de vista</h5>
                </button>
                <div class="collapse" id="examenV">
                  <app-examenes-vista *ngIf="historialMedico !== null" [historialMedico]="historialMedico"></app-examenes-vista>
                </div>
              </div>
              <div *ngIf="historialMedico!.examenes?.length">
                <div>
                  <button class="btn btn-flat text-left border-0" type="button" data-toggle="collapse" data-target="#examen" aria-expanded="false" aria-controls="collapseExamen">
                    <h5 class="pt-2"><i class="fas  fa-circle btn-option"></i> Otros exámenes</h5>
                  </button>
                
                  <div class="collapse" id="examen">
                    <div *ngFor="let categoria of historialMedico!.examenesPorCategoria | keyvalue; let i = index">
                      <div>
                        <div class="border-bottom mb-2" [id]="'headingAccordionEV' + i">
                          <h5 class="mb-0">
                            <button class="btn collapsed btn-none-efects border-0" [attr.data-toggle]="'collapse'" [attr.data-target]="'#collapseExamen' + i" [attr.aria-expanded]="false" [attr.aria-controls]="'collapseExamen' + i">
                              <h5 class="text-secondary">
                                <img src="assets/icons/carpeta.svg" alt="Carpeta" width="35px">
                                {{ categoria.key }}
                              </h5>
                            </button>
                          </h5>
                        </div>
                        <div [id]="'collapseExamen' + i" class="collapse" [attr.aria-labelledby]="'headingAccordionExamen' + i" [attr.data-parent]="'#examen'">
                          <!-- Contenido del colapso -->
                          <div *ngFor="let examen of categoria.value; let n = index">
  
                            <h5 class="mb-0 ml-4">
                              <button class="btn collapsed btn-none-efects border-0" data-toggle="collapse" 
                              [attr.href]="'#collapseExamenContenido' + i + n" 
                              role="button" [attr.aria-expanded]="false" [attr.aria-controls]="'collapseExamenContenido' + i + n">
                                <h5 class="text-secondary">
                                  <img src="assets/icons/archivosMedico.svg" alt="Carpeta" width="35px">
                                  {{ examen.fecha | date:'dd/MM/yyyy' }}
                                </h5>
                              </button>
                            </h5>
                            
                            <div [id]="'collapseExamenContenido' + i + n" class="collapse" [attr.aria-labelledby]="'headingAccordionExamenContenido' + i + n" [attr.data-parent]="'#collapseExamen' + i">
                              <div class="bg-light rounded p-3">
                                <div class="py-3">
                                  <div class="row">
                                    <div class="col-12">
                                      <a class="btn btn-tool btn-sm float-right" (click)="destroyExamen(examen.id)">
                                        <i class="fas fa-trash text-danger"></i>
                                      </a>
                                    </div>
                                    <div class="py-2 col-12 col-sm-6">
                                      <div class="d-flex border-bottom py-2">
                                          <div>
                                          <b>Tipo</b>
                                          </div>
                                          <div class="ml-auto">
                                          {{examen?.tipo}}
                                          </div>
                                      </div>
                                    </div>
                
                                    <div class="py-2 col-12 col-sm-6">
                                      <div class="d-flex border-bottom py-2">
                                          <div>
                                          <b>Categoria</b>
                                          </div>
                                          <div class="ml-auto">
                                          {{examen?.categoria}}
                                          </div>
                                      </div>
                                    </div>
                
                                    <div class="py-2 col-12" *ngIf="examen?.descripcion">
                                      <div class="d-flex py-2">
                                          <div>
                                          <b>Descripción</b>
                                          </div>
                                      </div>
                                      <div>
                                          <div class="border rounded bg-white p-2">
                                          {{ examen?.descripcion }}
                                          </div>
                                      </div>
                                    </div>
      
                                    <div class="py-2 col-12" *ngIf="examen?.archivos">
                                      <div class="d-flex pt-2">
                                        <div>
                                          <b>Archivos</b>
                                        </div>
                                      </div>
                                      <div *ngFor="let archivo of examen.archivos; let i = index" class="d-inline-block m-1">
                                        <button class="btn btn-info py-3" (click)="abrirArchivo(archivo.url)">
                                          <img src="assets/icons/archivoMedico.svg" alt="Carpeta" width="35px">
                                        </button>
                                      </div>
                                    </div>
      
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>