<div class="modal-header border-0">
    <h5 class="modal-title" id="dateModalLabel"><i class="fas fa-circle" style="color: #13D52A"></i></h5>
  </div>
  <div class="modal-body">
    <!-- Formulario -->
    <div *ngIf="showPendienteForm">
      <form (submit)="isEditing ? updatePendiente() : createPendiente()">
        <!-- Campos del formulario -->
        <div>
          <div class="form-group">
              <label class="col-form-label">
                  Pendiente
              </label>
              <input type="text" class="form-control" name="pendiente" id="pendiente" cols="30" rows="8" [(ngModel)]="pendiente">
          </div>
        </div>
        <!-- Botones para guardar o cancelar la cita -->
        <div class="float-right mb-3">
          <button type="submit" class="btn btn-success">{{ isEditing ? 'Guardar cambios' : 'Guardar cita' }}</button>
          <button type="button" class="btn btn-danger ml-3" (click)="closeAppointmentForm()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  