<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-4 bg-pink" style="background-image: url('../assets/dist/img/fondoBlanco.png');
background-repeat: no-repeat;
object-fit: cover;
object-position: bottom;">
    <!-- Brand Logo -->
    <div class="bg-dark">
      <a href="index3.html" class="brand-link">
        <img src="../assets/dist/img/talentoHumano.jpg" alt="AdminLTE Logo" class="brand-image">
        <span class="brand-text font-weight-light text-white contageBlack-font"><b>Talento Humano</b></span>
      </a>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image pt-1">
          <img [src]="image" class="img-circle" alt="User Image">
        </div>
        <div class="info pt-2">
          <a class="d-block">{{ user?.nickname }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
          with font-awesome or any other icon font library -->
          <li class="nav-item" *ngFor="let item of menuItems">
            <a routerLink="{{item.url}}" class="nav-link" style="cursor: pointer;">
              <img width="35px" class="pr-2" src="{{item.icono}}" alt="{{item.titulo}} icono">
              <p>
                {{item.titulo}}
              </p>
            </a>
          </li>
        </ul>
      </nav>
<hr>
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="logout()">
              <img width="25px" class="pr-2" src="assets/icons/logout.svg" alt="Cerrar sesión icono">
              <p>
                Cerrar sesión
              </p>
            </a>
          </li>
        </ul>
      </nav>

      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
