<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-pink1">
                <div class="row">
                    <div class="col-12 col-md-6">
                      <p class="font-weight-bold mb-1">Profesional</p>
                      <div>
                        <img [src]="imageProfesional" alt="Product 1" class="img-circle img-size-32 mr-2 mb-1">
                        {{ incapacidad?.profesional?.nombre }}
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div>
                        <p class="font-weight-bold mb-1">Estatus</p>
                        <div class="border rounded bg-white text-center p-2">
                            {{ estatus }}
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="border rounded px-2">
                  <div class="row">
                      <div class="col-12 col-md-5">
                        <div class="form-group">
                          <label class="col-form-label">
                            Fecha inicial
                          </label>
                          <div class="border rounded bg-white text-center p-2">
                              {{ incapacidad?.fechaInicial | date:'dd/MM/yyyy' }}
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-2">
                        <div class="form-group text-center">
                          <label class="col-form-label">
                            Días
                          </label>
                          <div class="border rounded bg-white p-2">
                              {{ incapacidad?.dias ?? '-' }}
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-5">
                          <div class="form-group">
                            <label class="col-form-label">
                              Fecha de termino
                            </label>
                            <div class="border rounded bg-white text-center p-2">
                                {{ (incapacidad?.fechaTermino | date:'dd/MM/yyyy') ?? '-'  }}
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="row pt-3">
                    <div class="col-12 col-md-6">
                        <div class="d-flex flex-column align-items-center bg-pink2 h-100 shadow">
                            <img [src]="imageEmpleado" alt="Empleado" class="rounded-circle img-border img-circle mt-3" width="150">
                            <div class="mt-3 text-center">
                                <h4>
                                    {{ incapacidad?.empleado?.nombre }}
                                </h4>
                        
                                <p class="py-3">
                                    <a [routerLink]="['/enfermeria/historiales-medicos', incapacidad?.empleado?.historial_medico?.id]" target="_blank">Ver historial médico</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">
                                Tipo de incapacitación
                            </label>
                            <div class="border rounded bg-white text-center p-2">
                                {{incapacidad?.tipo ?? '-' }}
                            </div>
                        </div>
                        <div class="form-group"  *ngIf="incapacidad?.consecuente">
                            <label class="col-form-label">
                                Consecuente
                            </label>
                            <div class="border rounded bg-white text-center p-2">
                                {{incapacidad?.consecuente }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-3">
                    <div class="form-group" *ngIf="incapacidad?.calificacionAccidente">
                        <label class="col-form-label">
                            Calificación del accidente
                        </label>
                        <div class="border rounded bg-white text-center p-2">
                            {{incapacidad?.calificacionAccidente }}
                        </div>
                    </div>
                    <div class="form-group" *ngIf="incapacidad?.causa">
                        <label class="col-form-label">
                            Causa
                        </label>
                        <div class="border rounded bg-white text-center p-2">
                            {{incapacidad?.causa }}
                        </div>
                    </div>
                    <div class="form-group" *ngIf="incapacidad?.zonas_afectadas?.length">
                        <label class="col-form-label">
                            Zonas afectadas
                        </label>
                        <div class="d-flex flex-wrap">
                            <div *ngFor="let zona of incapacidad?.zonas_afectadas" class="mr-2 mb-2">
                                <span class="badge badge-pill badge-danger">{{ zona.zona }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="incapacidad?.diagnostico">
                        <label class="col-form-label">
                            Diagnóstico
                        </label>
                        <div class="border rounded p-2 bg-white" [innerHtml]='incapacidad?.diagnostico'>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="incapacidad?.observaciones">
                        <label class="col-form-label">
                            Observaciones
                        </label>
                        <div class="border rounded p-2 bg-white" [innerHtml]='incapacidad?.observaciones'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header text-secondary border-0">
              <h3 class="card-title text-center">Archivos</h3>
              <button type="submit" class="btn btn-sm btn-secondary float-right" (click)="abrirFormularioArchivo()">
                <i class="fas fa-upload"></i>
                {{ mostrarFormularioArchivo ? 'Cancelar' : 'Subir archivo' }}
              </button>
            </div>
            <div class="card-body">
              <div *ngIf="mostrarFormularioArchivo">
                <form [formGroup]="formArchivo" (submit)="storeArchivos()">
        
                  <div class="row">
                    <div class="py-2 col-12 col-sm-12">
                      <div class="d-flex justify-content-between border-bottom py-2">
                        <div>
                          <b>Categoría</b>
                        </div>
                        <div class="ml-2">
                          <div class="form-group">
                            <ng-container *ngIf="showInput; else showSelect">
                              <div class="input-group w-100">
                                <input type="text" class="form-control" formControlName="categoria" name="categoria" id="categoria">
                                <div class="input-group-append">
                                  <button class="btn btn-secondary" type="button" (click)="toggleCategoryInput()"><i class="fas fa-undo"></i></button>
                                </div>
                              </div>
                            </ng-container>
                            <ng-template #showSelect>
                              <select class="form-control w-100" formControlName="categoria" name="categoria" id="categoria" (change)="checkForOther()">
                                <option>Inicial probable riesgo</option>
                                <option>Subsecuente probable riesgo</option>
                                <option>Riesgo de trabajo ST7</option>
                                <option>Riesgo de trabajo ST7 calificado</option>
                                <option>Enfermedad profesional ST9</option>
                                <option>Enfermedad profesional ST9 calificado</option>
                                <option>Alta médica ST2</option>
                                <option>Recaída ST8</option>
                                <option>Incapacidad parcial permanente</option>
                                <option>Otro</option>
                              </select>
                            </ng-template>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="py-2 col-12">
                      <div class="d-flex justify-content-between py-2">
                        <div class="text-center mx-auto pt-1">
                          <input type="file" id="archivoInput" (change)="archivosSeleccionados($event)" formControlName="archivos" accept="image/png, image/jpeg, application/pdf" multiple style="display: none">
        
                          <label for="archivoInput" class="custom-file-upload">
                            <i class="fa fa-file"></i> Seleccione los archivos
                          </label>
                        </div>
                      </div>
                      <div class="border-bottom py-2">
                        <div class="table-responsive" *ngIf="archivos.length > 0">
                          <table class="table table-sm table-white rounded">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col" class="text-secondary">Archivos</th>
                                <th scope="col" class="text-secondary">Tamaño</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let archivo of archivos; let i = index">
                                <tr>
                                  <td class="align-middle">{{ archivo.nombre }}</td>
                                  <td class="align-middle">{{ archivo.tamano }}</td>
                                  <td width="10px">
                                    <button type="button" class="btn-close d-flex align-items-center mt-2" (click)="eliminarArchivo(i)">
                                    </button>
                                  </td>
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="text-center pt-3">
                      <button type="submit" class="btn btn-sm btn-pink">
                        <i class="fas fa-save"></i> Guardar
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div *ngIf="!mostrarFormularioArchivo">
                <div *ngFor="let categoria of incapacidad?.archivosPorCategoria | keyvalue; let i = index;">
                    <div>
                        <div class="border-bottom mb-2" [id]="'headingAccordionEV' + i">
                        <h5 class="mb-0">
                            <button class="btn btn-none-efects border-0" [attr.data-bs-toggle]="'collapse'" [attr.data-bs-target]="'#collapseArchivo' + i" [attr.aria-expanded]="false" [attr.aria-controls]="'collapseArchivo' + i">
                            <h5 class="text-secondary">
                                <img src="assets/icons/carpeta.svg" alt="Carpeta" width="35px">
                                {{ categoria.key }}
                            </h5>
                            </button>
                        </h5>
                        </div>
                        <div [id]="'collapseArchivo' + i" class="collapse" [attr.aria-labelledby]="'headingAccordionArchivo' + i" data-parent="#examenV">
                        <div class="bg-light rounded p-3">
                            <div class="py-3">
                            <div class="d-inline-block m-1" *ngFor="let archivo of categoria.value">
                                <button class="btn btn-info py-3" (click)="abrirArchivo(archivo.url)">
                                <img src="assets/icons/archivoMedico.svg" alt="Carpeta" width="35px">
                                <!-- <small>
                                    {{ archivo.created_at | date:'dd/MM/yyyy' }}
                                </small> -->
                                </button>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>