<div class="text-center">
    <button type="button" class="btn btn-pink btn-sm" data-toggle="modal" data-target="#movimientoModal">
      Agregar movimiento
    </button>
  </div>
  <div class="modal fade" id="movimientoModal" tabindex="-1" aria-labelledby="movimientoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="movimientoModalLabel">Generar movimiento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="movimientoForm" (submit)="guardar()">
            <div class="row">
                <div class="form-group">
                    <label>Tipo de movimiento</label>
                    <select class="form-control" id="tipo" formControlName="tipo">
                        <option> -- Seleccione una opción -- </option>
                        <option>Salida completa del lote</option>
                        <option>Salida de piezas</option>
                        <option>Mover de inventario</option>
                    </select>
                </div>
            </div>
            <label>Movimiento del lote</label>
            <div class="card shadow-none">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-6 col-md-4">
                            <label>Folio de entrada</label>
                            <input type="text" class="form-control" id="folio" formControlName="folio">
                        </div>
                        <div class="form-group col-12 col-md-8">
                            <label>Motivo</label>
                            <input type="text" class="form-control" id="motivo" formControlName="motivo">
                        </div>
                        <div class="form-group col-12">
                            <label>Detalles</label>
                            <ckeditor [editor]="Editor" [config]="editorConfig" id="detalles" formControlName="detalles"></ckeditor>
                        </div>
                        <div class="form-group col-12" *ngIf="movimientoForm.get('tipo')?.value === 'Salida de piezas'">
                            <label>Piezas a descontar</label>
                            <input type="number" class="form-control" id="piezasDescontables" formControlName="piezasDescontables">
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="mensajesDeError.length > 0" class="text-danger pt-3">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger" *ngFor="let mensaje of mensajesDeError">{{ mensaje }}</li>
                </ul>
            </div>
            <div class="text-center">
                <button class="btn bg-pink">Guardar</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>