@import '~bootstrap/dist/css/bootstrap.css';

@font-face {
  font-family: 'Cotage Black';
  src: url('./assets/fonts/Contage Black.otf') format('opentype'),
       url('./assets/fonts/Contage Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Noiche Black';
    src: url('./assets/fonts/Noiche Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.contageBlack-font {
    font-family: 'Cotage Black';
}

.noicheBlack-font {
    font-family: 'Noiche Black';
    line-height: 1;
}

a {
    text-decoration: none;
}

.bg-blue{
    background-color: #0080FF;
    color: white;

}

.btn-pink {
    background-color: #ff2970;
    color: #fff;
    border-color: #ff2970;
}
  
.btn-pink:hover {
    background-color: #c72158;
    border-color: #c72158;
    color: #fff;
}

.btn-blue {
    background-color: #0080FF;
    color: #fff;
    border-color: #0080FF;
}
  
.btn-blue:hover {
    background-color: #34a9f7;
    border-color: #34a9f7;
    color: #fff;
}

.btn-pink-light {
    background-color: #eb7ca1;
    color: #fff;
    border-color: #eb7ca1;
}
  
.btn-pink-light:hover {
    background-color: #be4a71;
    border-color: #be4a71;
    color: #fff;
}

.text-pink{
    color: #c72158;
}

.img-circle{
    background-color: white;
    box-shadow:
    0 0 0 1px white,
    0 0 0 2px black;
}

.bg-pink1{
    background: rgb(255, 245, 246);
}

.bg-pink2{
    background: rgb(255, 223, 231);
}

.text-vertical{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align:center;
    width: 10px;
}

/* Estilo para el primer th */
.th-pink1 {
    background: rgb(255, 197, 211) !important;
}
  
/* Estilo para el segundo th */
.th-pink2 {
    background: rgb(255, 157, 181) !important;
}
  
/* Estilo para el tercer th */
.th-pink3 {
    background: rgb(255, 109, 146) !important;
}

/* Estilo para el cuarto th */
.th-pink4 {
    background: rgb(255, 64, 112) !important;
}

.pink-d {
    background: rgb(255, 40, 94) !important;
}

.bg-pink-light{
    background: rgb(255, 249, 249) !important;
}

.custom-file-upload {
    border-radius: 10px;

    display: inline-block;
    padding: 40px;
    cursor: pointer;

    /* background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,175,224,0.2575406032482599) 51%, rgba(255,255,255,1) 100%);
    color: #646464; */

    background-color: #ffffff;
    opacity: 0.8;
    background: repeating-linear-gradient( 45deg, #c0fdff, #c0fdff 9px, #ffffff 9px, #ffffff 45px );
  }
  
  .custom-file-upload:hover {
    border-width: 10px;

    /* background-color: #95edf0;
    color: #fff; */

    background-color: #ffffff;
    opacity: 0.8;
    background: repeating-linear-gradient( 45deg, #d49aae, #d49aae 9px, #ffffff 9px, #ffffff 45px );
  }

  .over-pink:hover {
    border-color: #ff2970;
  }

  /* CALENDARIO */
  .my-custom-calendar ::ng-deep {
    /* Estilos para los botones del calendario */
  .fc-button {
    background-color: #ff2970;
    color: white;
    border: none;
  }

  /* Estilos para el titulo */
  .fc-toolbar-title::first-letter{
      text-transform: capitalize;
  }

  /* Estilos para las celdas de encabezado */
  .fc-col-header-cell-cushion, .fc-daygrid-day-number {
    color: #2e2e2e;
    text-transform: capitalize;
  }
}
/* CIERRE DE CALENDARIO */

/* LOANDING */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.loader {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FF2970;
    animation: l2 2s infinite;
}

@keyframes l2 {
    0%, 100% { transform: translateX(-35px); box-shadow: 0 0 #13D52A, 0 0 #FFD215; }
    40% { transform: translateX(35px); box-shadow: -15px 0 #13D52A, -30px 0 #FFD215; }
    50% { transform: translateX(35px); box-shadow: 0 0 #13D52A, 0 0 #FFD215; }
    90% { transform: translateX(-35px); box-shadow: 15px 0 #13D52A, 30px 0 #FFD215; }
}
