@import '~bootstrap/dist/css/bootstrap.css';

@font-face {
  font-family: 'Cotage Black';
  src: url('./assets/fonts/Contage Black.otf') format('opentype'),
       url('./assets/fonts/Contage Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Noiche Black';
    src: url('./assets/fonts/Noiche Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.contageBlack-font {
    font-family: 'Cotage Black';
}

.noicheBlack-font {
    font-family: 'Noiche Black';
    line-height: 1;
}

a {
    text-decoration: none;
}

.btn-pink {
    background-color: #ff2970;
    color: #fff;
    border-color: #ff2970;
}
  
.btn-pink:hover {
    background-color: #c72158;
    border-color: #c72158;
    color: #fff;
}

.btn-pink-light {
    background-color: #eb7ca1;
    color: #fff;
    border-color: #eb7ca1;
}
  
.btn-pink-light:hover {
    background-color: #be4a71;
    border-color: #be4a71;
    color: #fff;
}

.text-pink{
    color: #c72158;
}

.img-circle{
    background-color: white;
    box-shadow:
    0 0 0 1px white,
    0 0 0 2px black;
}