<div class="content">
    <div class="container-fluid">
        <div *ngIf="consulta?.cita" class="card">
            <div class="card-header text-secondary border-0">
                <h3 class="card-title text-center">Datos de la cita</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="col-form-label">
                                Tipo
                            </label>
                            <div class="border rounded p-2">
                                {{ consulta?.cita?.tipo }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="col-form-label">
                                Motivo
                            </label>
                            <div class="border rounded p-2">
                                {{ consulta?.cita?.motivo }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-pink1">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="font-weight-bold mb-1">Profesional asignado</p>
                        <div>
                            <img [src]="imageProfesional" alt="Product 1" class="img-circle img-size-32 mr-2 mb-1">
                            {{ consulta?.profesional?.nombre }}
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <small>
                            <div class="align-items-center d-flex justify-content-around w-100 h-100">
                                <span><i class="fas fa-circle fa-xs px-1 text-pink"></i><b>Fecha:</b> {{ consulta?.fecha | date:'dd/MM/yyyy' : '-' }}</span>
                                <span><i class="fas fa-circle fa-xs px-1 text-pink"></i><b>Hora:</b> {{ consulta?.fecha | date:'hh:mm a' : '-' }}</span>
                                <span *ngIf="consulta?.profesional?.direccion">
                                    <i class="fas fa-circle fa-xs px-1 text-pink"></i>
                                    <b>Lugar:</b>
                                    <span *ngIf="consulta?.profesional?.direccion?.calle">
                                        {{consulta?.profesional?.direccion?.calle}}
                                    </span>
                                    <span *ngIf="consulta?.profesional?.direccion?.exterior">
                                        , {{consulta?.profesional?.direccion?.exterior}}
                                    </span>
                                    <span *ngIf="consulta?.profesional?.direccion?.interior">
                                        , {{consulta?.profesional?.direccion?.interior}}
                                    </span>
                                    <span *ngIf="consulta?.profesional?.direccion?.colonia">
                                        , {{consulta?.profesional?.direccion?.colonia}}
                                    </span>
                                    <span *ngIf="consulta?.profesional?.direccion?.CP">
                                        , {{consulta?.profesional?.direccion?.CP}}
                                    </span>
                                    <span *ngIf="consulta?.profesional?.direccion?.localidad">
                                        , {{consulta?.profesional?.direccion?.localidad}}
                                    </span>
                                </span>                            
                            </div>
                        </small>
                    </div>
                </div>
            </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="d-flex flex-column align-items-center bg-pink2 h-100 shadow">
                                <img [src]="imagePaciente" alt="Admin" class="rounded-circle img-border img-circle mt-3" width="150">
                                <div class="mt-3 text-center">
                                    <h4>
                                        {{ consulta?.pacientable?.nombre }}
                                    </h4>
                                    <span class="badge badge-info" [ngSwitch]="consulta?.pacientable_type">
                                        <span *ngSwitchCase="'App\\Models\\NomEmpleado'">Empleado</span>
                                        <span *ngSwitchCase="'App\\Models\\Externo'">Externo</span>
                                    </span>
                                    <p class="py-3">
                                        <a [routerLink]="['/enfermeria/historiales-medicos', consulta?.pacientable?.historial_medico?.id]" target="_blank">Ver historial médico</a>
                                    </p>
                                    <div class="pb-3" *ngIf="imc">
                                        <div class="rounded p-2 bg-white">
                                            <p class="m-0">IMC = {{imc | number:'1.2-2'}}</p> 
                                            <p class="m-0"><b>
                                                {{imcSignificado}}
                                            </b></p>
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="col-form-label">
                                            Edad
                                        </label>
                                        <div class="border rounded bg-white p-2">
                                            {{ consulta?.edad ? consulta?.edad + ' años' : '-' }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="col-form-label">
                                            Peso
                                        </label>
                                        <div class="border rounded bg-white p-2">
                                            {{ consulta?.peso ? consulta?.peso + ' Kg' : '-' }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="col-form-label">
                                            Altura
                                        </label>
                                        <div class="border rounded bg-white p-2">
                                            {{consulta?.talla || '-' }} mts
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="imc">
                                <div [style.background-color]="imcColor" class="rounded p-2 d-flex justify-content-between text-white">
                                    <p class="m-0">IMC = {{imc | number:'1.2-2'}}</p>
                                    <p class="m-0"><b>
                                        {{imcSignificado}}
                                    </b></p>
                                </div>                                    
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">
                                            T.A (SBP/DBP)
                                        </label>
                                        <div class="border rounded">
                                    <p class="text-center mb-1 py-2">{{consulta?.presionSistolica ?? '-'}}</p>
                                            <hr class="my-0 mx-2">
                                    <p class="text-center mb-1 py-2">{{consulta?.presionDiastolica ?? '-'}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">
                                            Gluc. (mg/dL)
                                        </label>
                                        <div class="border rounded">
                                    <p class="text-center mb-1 py-2">{{consulta?.mg ?? '-'}}</p>
                                            <hr class="my-0 mx-2">
                                    <p class="text-center mb-1 py-2">{{consulta?.dl ?? '-'}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">
                                            Triaje
                                        </label>
                                        <div class="border rounded p-2 text-center text-white" [style.background-color]="color">
                                            {{ triajeClasificacion }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">
                                            F.R
                                        </label>
                                        <div class="border rounded p-2 text-center bg-white">
                                            {{ consulta?.frecuenciaRespiratoria ?? '-' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">
                                            F.C
                                        </label>
                                        <div class="border rounded p-2 text-center bg-white">
                                            {{ consulta?.frecuenciaCardiaca ?? '-' }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">
                                            Temperatura
                                        </label>
                                        <div class="border rounded p-2 text-center bg-white">
                                            {{ consulta?.temperatura  ?? '-' }} C
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <table class="table table-borderless">
                            <tbody>
                                <ng-container *ngIf="consulta?.subjetivo">
                                    <tr>
                                        <th class="text-vertical th-pink1 text-white" scope="row">Subjetivo</th>
                                        <td>
                                            <div class="form-group">
                                                <label class="col-form-label">
                                                    Lo que dice el paciente
                                                </label>
                                                <div class="border rounded p-2" [innerHtml]='consulta?.subjetivo'>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="consulta?.objetivo">
                                    <tr>
                                        <th class="text-vertical th-pink2 text-white" scope="row">Objetivo</th>
                                        <td>
                                            <div class="form-group">
                                                <label class="col-form-label">
                                                    Lo que usted ve
                                                </label>
                                                <div class="border rounded p-2" [innerHtml]='consulta?.objetivo'>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="consulta?.analisis">
                                    <tr>
                                        <th class="text-vertical th-pink3 text-white" scope="row">Análisis</th>
                                        <td>
                                            <div class="form-group">
                                                <label class="col-form-label">
                                                    Lo que usted cree que está pasando
                                                </label>
                                                <div class="border rounded p-2" [innerHtml]='consulta?.analisis'>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="consulta?.plan">
                                    <tr>
                                        <th class="text-vertical th-pink4 text-white" scope="row">Plan</th>
                                        <td>
                                            <div class="form-group">
                                                <label class="col-form-label">
                                                    Lo que va hacer al respecto
                                                </label>
                                                <div class="border rounded p-2" [innerHtml]='consulta?.plan'>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">
                            Diagnóstico
                        </label>
                        <div class="border rounded p-2 text-center bg-white">
                            {{ consulta?.diagnostico?.nombre  ?? '-' }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">
                            Complemento
                        </label>
                        <div class="border rounded p-2" [innerHtml]='consulta?.complemento'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">
                            Receta
                        </label>
                        <button class="btn btn-white text-pink" (click)="abrirReceta(consulta?.id)"><i class="fas fa-download"></i> Descargar</button>
                        <div class="border rounded p-2" [innerHtml]='consulta?.receta'>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>