.bg-pink1{
    background: rgb(255, 245, 246);
}

.bg-pink2{
    background: rgb(255, 207, 219);
}

.img-circle{
    background-color: white;
    box-shadow:
    0 0 0 1px white,
    0 0 0 2px black;
}

.fa-circle{
    color: lightgray;
}

.text-vertical{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align:center;
    width: 10px;
}

/* Estilo para el primer th */
.th-pink1 {
    background: rgb(255, 197, 211) !important;
}
  
/* Estilo para el segundo th */
.th-pink2 {
    background: rgb(255, 157, 181) !important;
}
  
/* Estilo para el tercer th */
.th-pink3 {
    background: rgb(255, 109, 146) !important;
}

/* Estilo para el cuarto th */
.th-pink4 {
    background: rgb(255, 64, 112) !important;
}

.pink-d {
    background: rgb(255, 40, 94) !important;
}