<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-pink1">
                <p class="font-weight-bold">Doctora asignada</p>
                <div>
                    <img src="../assets/dist/img/user2-160x160.jpg" alt="Product 1" class="img-circle img-size-32 mr-2">
                    Alexander Pierce
                </div>
            </div>
            <div class="card-header bg-pink2">
                <p class="font-weight-bold">Paciente</p>
                <div>
                    <select class="js-example-basic-single" name="state">
                        <option value="AL">Alabama</option>
                        <!-- ... otras opciones ... -->
                        <option value="WY">Wyoming</option>
                    </select>
                </div>
            </div>
            <div class="card-body">

            </div>
            <div class="card-foother">

            </div>
        </div>
    </div>
</div>