<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header text-secondary border-0">
                <h3 class="card-title text-center">Todos los casos de incapacidades</h3>
            </div>
            <div class="card-header border-0">
                <div class="row">
                    <div class="col-xl-9 col-lg-8 col-md-8 col-sm-8">
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4">
                        <a class="btn btn-sm btn-pink btn-block  my-2" routerLink="/enfermeria/casos/create"><i class="fas fa-plus"></i> Nuevo caso</a>
                    </div>
                </div>   
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-sm table-striped table-valign-middle">
                    <thead>
                        <tr class="text-center">
                            <th>
                                <!-- <i class="fas fa-angle-down text-pink"></i> -->
                                Caso
                            </th>
                            <th>
                                <!-- <i class="fas fa-angle-down text-pink"></i> -->
                                Empleado
                            </th>
                            <th>
                                <!-- <i class="fas fa-angle-down text-pink"></i> -->
                                Puesto
                            </th>
                            <th>
                                <!-- <i class="fas fa-angle-down text-pink"></i> -->
                                Departamento
                            </th>
                            <th>
                                <!-- <i class="fas fa-angle-down text-pink"></i> -->
                                Fecha
                            </th>
                            <th>
                                <!-- <i class="fas fa-angle-down text-pink"></i> -->
                                Estatus
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th width="20px">
                                <input type="text" class="form-control form-control-sm text-center" name="caso" placeholder="#" [(ngModel)]="filtros.caso" (keyup.enter)="submitForm()">
                            </th>
                            <th>
                                <input type="text" class="form-control form-control-sm text-center" name="empleado" placeholder="Nombre" [(ngModel)]="filtros.empleado" (keyup.enter)="submitForm()">
                            </th>
                            <th>
                                <input type="text" class="form-control form-control-sm text-center" name="puesto" placeholder="Nombre" [(ngModel)]="filtros.puesto" (keyup.enter)="submitForm()">
                            </th>
                            <th>
                                <input type="text" class="form-control form-control-sm text-center" name="departamento" placeholder="Nombre" [(ngModel)]="filtros.departamento" (keyup.enter)="submitForm()">
                            </th>
                            <th>
                                <input type="date" class="form-control form-control-sm text-center" name="fecha" [(ngModel)]="filtros.fecha" (change)="submitForm()">
                            </th>
                            <th>
                                <select name="estatus" class="form-control form-control-sm text-center" name="estatus" [(ngModel)]="filtros.estatus" (change)="submitForm()">
                                    <option value="">Todos</option>
                                    <option>PENDIENTE</option>
                                    <option>TERMINADO</option>
                                </select>
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="casos.length > 0; else nocasos">
                        <tr *ngFor="let caso of casos">
                            <td class="text-center">
                                {{ caso.id }}
                            </td>
                            <td>
                                {{ caso?.empleado?.nombre }}
                            </td>
                            <td class="text-center">
                                {{ caso?.empleado?.puesto.nombre }}
                            </td>
                            <td class="text-center">
                                {{ caso?.departamento?.Nombre }}
                            </td>
                            <td class="text-center">
                                {{ caso!.incapacidades[0]!.fechaEfectiva ? (caso!.incapacidades[0]!.fechaEfectiva | date:'dd-MM-yyyy') : '-' }}
                            </td>
                            <td class="text-center">
                                <small>
                                    <span class="badge badge-pill" [ngClass]="{'badge-danger': caso?.estatus === 'PENDIENTE', 'badge-success': caso?.estatus === 'TERMINADO'}">{{caso?.estatus}}</span>
                                </small>
                            </td>
                            <td width="10px" class="text-center">
                                <button (click)="showCaso(caso!.id)" class="btn btn-sm btn-secondary">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>
                                <button type="button" (click)="editCaso(caso!)" class="btn btn-sm btn-primary ml-2" data-toggle="modal" [attr.data-target]="'#casoEditModal' + caso?.id">
                                    <i class="fas fa-edit"></i>
                                </button>                                
                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-secondary ml-2"><i class="fas fa-list"></i></button>
                            </td>                      
                        </tr>
                    </tbody>
                    <ng-template #nocasos>
                        <tr>
                            <td colspan="7" class="text-center">Sin casos</td>
                        </tr>
                    </ng-template>
                </table>
            </div>
            <div class="card-footer">
                <app-pagination [url]="'casos'"></app-pagination>
            </div>
        </div>
    </div>
</div>

<div *ngIf="casoSeleccionado" class="modal fade" [id]="'casoEditModal' + casoSeleccionado.id" tabindex="-1" role="dialog" aria-labelledby="casoEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title" id="casoEditModalLabel">Editar caso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-casos-edit [caso]="casoSeleccionado!"></app-casos-edit>
        </div>
      </div>
    </div>
  </div>